<% include ../partials/header %>

<div class="container">
	<div class="homeDiv" style="background-image: url('<%= images[0]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[1]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[2]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[3]%>')"></div>

	<div class="homeSpacer">
		<div>
			<img src="images/logo_1.png" alt="Beauty Ethics" id="homeLogo">
		</div>
		<a id="homeAboutLink">ABOUT</a>
		<a id="homeLogoutLink">LOGOUT</a>

<!-- <div class="aboutText">
	<p>Beauty Ethics is built through data compiled from the good shopping guide, which promotes ethical shopping and business in support of a more sustainable world. All images are collected live via instagram from the most unethical and contested skincare and fashion company giants. We ask viewers to be aware of the ugly side in the beauty industry. 
	</p>
</div> -->


	</div>

	<div class="homeDiv" style="background-image: url('<%= images[4]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[5]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[6]%>')"></div>
	<div class="homeDiv" style="background-image: url('<%= images[7]%>')"></div>
</div>

<%= images[0]%>
<%= images[1]%>
<%= images[2]%>
<%= images[3]%>
<%= images[4]%>
<%= images[5]%>
<%= images[6]%>
<%= images[7]%>

<% include ../partials/footer %>