<% include ../partials/header %>
<body>

<div class="container">

<!-- Div 1 -->
<a href="/brands/<%= images[0].ownerNum%>">
	<div class="homeDiv" style="background-image: url(<%= images[0].imgData%>)" data-name="<%= images[0].instaName%>" data-complaint="<%= images[0].complaint%>" data-link="<%= images[0].instaLink%>"></div>
</a>

<!-- Div 2 -->
<a href="/brands/<%= images[1].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[1].imgData%>')" data-name="<%= images[1].instaName%>" data-complaint="<%= images[1].complaint%>" data-link="<%= images[1].instaLink%>"></div>
</a>

<!-- Div 3 -->
<a href="/brands/<%= images[2].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[2].imgData%>')" data-name="<%= images[2].instaName%>" data-complaint="<%= images[2].complaint%>" data-link="<%= images[2].instaLink%>"></div>
</a>

<!-- Div 4 -->
<a href="/brands/<%= images[3].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[3].imgData%>')" data-name="<%= images[3].instaName%>" data-complaint="<%= images[3].complaint%>" data-link="<%= images[3].instaLink%>"></div>
</a>

<!-- Black Spacer -->
	<div class="homeSpacer">
		<div class="homeSpacerLogo">
			<img src="/images/logo_1.png" alt="Beauty Ethics" id="homeLogo">
		</div>

		<a id="homeAboutLink" data-info="null">ABOUT</a>
		<a href="/logout" id="homeLogoutLink">LOGOUT</a>

		<div class="aboutText">
			<p><span class="dropCap">B</span>eauty Ethics is built through data compiled from the good shopping guide, which promotes ethical shopping and business in support of a more sustainable world. All images are collected live via instagram from the most unethical and contested skincare and fashion company giants. We challenge our viewers to face the uglier side of the beauty industry. 
			</p>
		</div>

		<div class="hoverInfo">
			<p id="garnierusa">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@garnierusa</span>
			</p>

			<p id="kiehlsnyc">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@kiehlsnyc</span>
			</p>

			<p id="lorealparisofficial">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@lorealparisofficial</span>
			</p>

			<p id="cleanandclear">
				<span class="homeCitation">Genetically Modified</span></br>
				<span class="homeCitationReg">@cleanandclear</span>
			</p>

			<p id="lorealparisusa">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@lorealparisusa</span>
			</p>

			<p id="lorealparisfr">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@lorealparisfr</span>
			</p>

			<p id="johnfriedauk">
				<span class="homeCitation">Toxic Environment</span></br>
				<span class="homeCitationReg">@johnfriedauk</span>
			</p>

			<p id="johnfriedafr">
				<span class="homeCitation">Toxic Environment</span></br>
				<span class="homeCitationReg">@johnfriedafr</span>
			</p>

			<p id="tresemme">
				<span class="homeCitation">Palm Oil Sourcing</span></br>
				<span class="homeCitationReg">@tresemme</span>
			</p>

			<p id="superdrugloves">
				<span class="homeCitation">Tar Sands</span></br>
				<span class="homeCitationReg">@superdrugloves</span>
			</p>

			<p id="aussiehair">
				<span class="homeCitation">Immoral Lobbying</span></br>
				<span class="homeCitationReg">@aussiehair</span>
			</p>

			<p id="herbalessences">
				<span class="homeCitation">Immoral Lobbying</span></br>
				<span class="homeCitationReg">@herbalessences</span>
			</p>

			<p id="pantenehair">
				<span class="homeCitation">Immoral Lobbying</span></br>
				<span class="homeCitationReg">@pantenehair</span>
			</p>

			<p id="nivea_de">
				<span class="homeCitation">Immoral Lobbying</span></br>
				<span class="homeCitationReg">@nivea_de</span>
			</p>

			<p id="biothermworld">
				<span class="homeCitation">Animal Cruelty</span></br>
				<span class="homeCitationReg">@biothermworld</span>
			</p>

			<p id="neutrogena">
				<span class="homeCitation">Genetically Modified</span></br>
				<span class="homeCitationReg">@neutrogena</span>
			</p>

			<p id="sunsilksg">
				<span class="homeCitation">Palm Oil Sourcing</span></br>
				<span class="homeCitationReg">@sunsilksg</span>
			</p>

			<p id="dove">
				<span class="homeCitation">Palm Oil Sourcing</span></br>
				<span class="homeCitationReg">@dove</span>
			</p>

			<p id="pantenebrasil">
				<span class="homeCitation">Immoral Lobbying</span></br>
				<span class="homeCitationReg">@pantenebrasil</span>
			</p>

			<p id="gap">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@gap</span>
			</p>

			<p id="gapkids">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@gapkids</span>
			</p>

			<p id="bananarepublic">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@bananarepublic</span>
			</p>

			<p id="intermixonline">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@intermixonline</span>
			</p>

			<p id="athleta">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@athleta</span>
			</p>

			<p id="frenchconnection_official">
				<span class="homeCitation">Cotton Sourcing</span></br>
				<span class="homeCitationReg">@frenchconnection_official</span>
			</p>

			<p id="levis">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@levis</span>
			</p>

			<p id="leejeans">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@leejeans</span>
			</p>

			<p id="adidas">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@adidas</span>
			</p>

			<p id="adidasoriginals">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@adidasoriginals</span>
			</p>

			<p id="reebokwomen">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@reebokwomen</span>
			</p>

			<p id="reebokclassics">
				<span class="homeCitation">Human Rights</span></br>
				<span class="homeCitationReg">@reebokclassics</span>
			</p>

			<p id="lkbennettlondon">
				<span class="homeCitation">Unethical Sourcing</span></br>
				<span class="homeCitationReg">@lkbennettlondon</span>
			</p>

		</div>
	</div>
<!-- End Black Spacer -->

<!-- Div 5 -->
<a href="/brands/<%= images[4].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[4].imgData%>')" data-name="<%= images[4].instaName%>" data-complaint="<%= images[4].complaint%>" data-link="<%= images[4].instaLink%>"></div>
</a>

<!-- Div 6 -->
<a href="/brands/<%= images[5].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[5].imgData%>')" data-name="<%= images[5].instaName%>" data-complaint="<%= images[5].complaint%>" data-link="<%= images[5].instaLink%>"></div>
</a>

<!-- Div 7 -->
<a href="/brands/<%= images[6].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[6].imgData%>')" data-name="<%= images[6].instaName%>" data-complaint="<%= images[6].complaint%>" data-link="<%= images[6].instaLink%>"></div>
</a>

	<!-- Div 8 -->
<a href="/brands/<%= images[7].ownerNum%>">
	<div class="homeDiv" style="background-image: url('<%= images[7].imgData%>')" data-name="<%= images[7].instaName%>" data-complaint="<%= images[7].complaint%>" data-link="<%= images[7].instaLink%>"></div>
</a>

	<div class="blackHide">
	</div>
	
</div>

<%= images[0]%>
<%= images[1]%>
<%= images[2]%>
<%= images[3]%>
<%= images[4]%>
<%= images[5]%>
<%= images[6]%>
<%= images[7]%>

<% include ../partials/footer %>