<% include ../partials/header %>
<!-- quick little script to get the image we click on in the show page and set it as the background image -->
<script src = "/js/getimagedata.js" type="text/javascript"></script>	
<body class="vp-1 alt">

<main role="main">
<a class="linkMe">
	<header class="shorter">
		<div class="homeTopLeft">
			<p>
				<a href="/brands">HOME</a>
			</p>
		</div>

		<div class ="bottomRight">
		<span class="citations">Citations:</br></span>
		<p>
			<span class="citationArgs">
			<% company.controversies.forEach(function(controversy){ %>
				<%= controversy %></br>
			<% }); %>
			</span>
		</p>
		</div>

		<div id="scoreTextDiv">
<!-- 		<h1 id="scoreText">ETHICAL SCORE:</br><span class="bigScore"><%= company.score%></span>
		<span class="smallScore"> of 100 </span></br><span id="instaName"></span>	
		</h1> -->
			<h1 id="scoreText">
				<span class="ethical">ETHICAL SCORE</span><br>
				<span class="bigScore"><%= company.score%></span>
				<span class="smallScore"> of 100 </span></br><span id="instaName"></span>	
			</h1>
		</div>
	</header>
	</a>
	<article>
	<h3 class="compShowName"><%= company.name.toUpperCase()%></h3>

	<% company.text.forEach(function(controversy){ %>
				<p><%- controversy %></p>
			<% }); %>

	</article>
	<footer>
	<p><span class="footerHeading">Resources used include:</span></p>
	<p><a href ="http://blogs.dickinson.edu/ecofeminism/tag/john-frieda/" target="_blank">Eco Feminism</a></p>
	<p><a href ="http://onwardstate.com/community/adidas-is-disrespecting-human-rights/" target="_blank">Onward State</a></p>
	<p><a href ="https://naturalbabymama.wordpress.com/2014/06/01/is-organic-clothing-worth-it-organic-versus-non-organic-cotton-and-other-fibers/" target="_blank">Natural Baby Mama</a></p>
	<p><a href ="http://www.knowmore.org/wiki/index.php?title=Procter_%26_Gamble_Company" target="_blank">Know More Organization</a></p>
	<p><a href ="http://www.thegoodshoppingguide.com/ethical-health-and-beauty/" target="_blank">The Good Shopping Guide</a></p>
	<p><a href ="http://www.ethicalconsumer.org/portals/0/downloads/ethicalconsumer_cosmetics_report.pdf" target="_blank">The Ethical Consumer Guide</a></p>
	<p><a href ="http://www.ethicalconsumer.org/ethicalreports/cosmeticstoiletriesspecialreport/companyprofiles.aspx" target="_blank">The Ethical Consumer Organization</a></p>

	</footer>
</main>

<!-- <a id="backgroundImageLink">
	<div id="backgroundImage">

			<h1>I AM THE SHOW PAGE FOR: </h1>
			<h1>Company:<%= company.name%></h1>
			<h1 id="instaName"></h1>
			<h1>Score of: <%= company.score%></h1>

	</div>
</a> -->

<!-- <div class="overlay">
</div> -->

<% include ../partials/footer %>